body {
  background-color: #98DFD6;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

main {
  display: flex;
  padding: 20px;
  color: #262A56;
}

section {
  flex: 7;
  padding: 20px;
}

aside {
  flex: 3;
  padding: 20px;
  background-color: #FFDD83;
}

header {
  background-color: #00235B;
  padding: 20px;
  font-size: 22px;
  color: #98DFD6;
  font-weight: bold;
}

header h1,
h2 {
  margin: 5px;
}

hr {
  color: #00235B;
}

ul {
  list-style: none;
}

i {
  margin-right: 10px;
}

progress[value] {
  width: 250px;
  height: 20px;
}

aside p {
  margin: 0px;
}

li {
  margin: 5px;
}

/* background: */
progress::-webkit-progress-bar {background-color: #98DFD6; width: 100%;}
progress {background-color: #98DFD6;}

/* value: */
progress::-webkit-progress-value {background-color: #E21818 !important;}
progress::-moz-progress-bar {background-color: #E21818 }
progress {color: #98DFD6;}